.footer {
    width: 100%;
    padding: 5vmin;
    overflow: hidden;
    background-color: var(--navbarBkgClr);
    color: var(--appHeaderClr);
    text-align: center;
    margin-top: 5vh;
    position: relative;
    z-index: 50;
    margin: -2vmin;
}

@media screen and (max-width: 750px) {
    .footer {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .footer {
        font-size: 12px;
    }
}

@media screen and (max-width: 750px) {
    .footer {
        font-size: 8px;
    }
}