.wrapper {
  display: grid;
  grid-template-columns: [space] 20% [content] 60% [space] 20%;
}

#aside1 {
  grid-column: space 1;
}

#aside2 {
  grid-column: space 2;
}

.errorMsg {
  background-color: var(--navbarBkgClr);
  height: min-content;
  border-radius: 12px;
  text-align: center;
  grid-column: content;
  padding: 4ch;
  margin-top: -20%;
  margin-bottom: 20%;
  box-shadow: 10px 18px 6px 2px #00000065;
}

.title {
  color: var(--scndHeaderClrLight);
  font-size: 4ch;
}

.info {
  color: var(--scndHeaderClr);
  margin-bottom: 4ch;
}

.homeBtn {
  color: var(--appHeaderClr);
  font-size: 36px;
}
