.wrapper {
	display: grid;
	grid-template-columns: [space] 15% [text] 50% [content] 20% [space] 15%;
	grid-template-rows: repeat(8, 6pc);
	transition: 0.3s ease;
}

.container {
	grid-column: text / space 2;
	grid-row: 2 / 9;
	background-color: var(--navbarBkgClr);
	background-size: cover;
	border: 3px solid var(--inputBorderClr);
	border-radius: 12px;
}

.inputCon {
	grid-row: 2 / 9;
	grid-column: text;
	background-color: transparent;
	background-size: cover;
	border: 3px solid transparent;
	border-radius: 12px 12px 0px 0px;
}

.input {
	grid-row: 3 / 7;
	grid-column: text;
	color: var(--neutralClr);
	width: 100%;
	justify-self: center;
	text-align: center;
}

.contactCon {
	grid-row: 2 / 9;
	grid-column: content;
	background-color: transparent;
	background-size: cover;
	border: 3px solid transparent;
	border-radius: 0px 0px 12px 12px;
}

.contact {
	grid-row: 3 / 8;
	grid-column: content;
	width: 80%;
	color: var(--scndHeaderClr);
	justify-self: center;
	text-align: center;
}

@media screen and (max-width: 1550px) {
	.wrapper {
		grid-template-columns: [space] 10% [text] 55% [content] 25% [space] 10%;
	}
}

@media screen and (max-width: 900px) {
	.wrapper {
		grid-template-columns: [space] 15% [text] 70% [space] 15%;
		grid-template-rows: repeat(15, 6pc);
	}
	.contactCon {
		grid-column: text;
		grid-row: 9 / 15;
		background-color: var(--navbarBkgClr);
		margin-top: -1pc;
	}

	.contact {
		grid-column: text;
		grid-row: 9 / 13;
	}

	.inputCon {
		grid-column: text;
		grid-row: 2 / 9;
		background-color: var(--navbarBkgClr);
	}

	.container {
		background-color: transparent;
		border: transparent;
	}
}
