.appHeader {
  background-size: cover;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  margin: -3vh;
}

.scndHeader {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: var(--scndHeaderclr);
  margin-top: 12vh;
}

.wrapper {
  display: grid;
  grid-template-columns: [space] 17% [content] 22% [content] 22% [content] 22% [space] 17%;
  justify-content: space-between;
  --iconSizing: 128px;
  --transformSizing: 300px;
}

#aside1 {
  grid-column: space 1;
}

#aside2 {
  grid-column: space 2;
}

.eduContent {
  grid-column: content 2 / space 2;
  color: var(--contentClr);
  margin-bottom: 6ch;
}

.icons {
  font-size: var(--iconSizing);
  display: block;
  color: var(--scndHeaderClr);
  transition: 0.4s linear;
  background: linear-gradient(
    hsl(0 0% 0% / 0.1),
    hsl(20 0% 0% / 0.2) 20%,
    hsl(0 0% 0% / 0.3)
  );
  max-width: 2.1ch;
  max-height: 2.1ch;
  border-radius: 100%;
}

#eduIcon {
  grid-column: content 1;
  transform: translateX(var(--transformSizing));
}

.list {
  padding: 3px;
}

.interestContent {
  grid-column: content 1 / content 3;
  color: var(--contentClr);
  transform: translateX(var(--transformSizing));
}

#interestIcon {
  grid-column: content 3;
  transform: translateY(175px);
}

@media screen and (max-width: 2000px) {
  .wrapper {
    --iconSizing: 114px;
    --transformSizing: 150px;
  }
}

@media screen and (max-width: 1300px) {
  .wrapper {
    --iconSizing: 80px;
    --transformSizing: 100px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    --iconSizing: 60px;
    --transformSizing: 75px;
  }
}

@media screen and (max-width: 650px) {
  .wrapper {
    --iconSizing: 50px;
    --transformSizing: 0px;
  }
}

@media screen and (max-width: 300px) {
  .wrapper {
    --iconSizing: 40px;
  }
}
