.appHeader {
  background-size: cover;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  margin: -3vh;
}

.scndHeader {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: var(--scndHeaderclr);
  margin-top: 12vh;
}

.wrapper {
  display: grid;
  grid-template-columns: [space] 17% [content] 22% [content] 22% [content] 22% [space] 17%;
  justify-content: space-between;
}

#aside1 {
  grid-column: space 1;
}

#aside2 {
  grid-column: space 2;
}

.eduContent {
  grid-column: content 2 / space 2;
  color: var(--contentClr);
  margin-bottom: 6ch;
}

.eduIcon {
  grid-column: content 1;
  font-size: 128px;
  transform: translateX(300px);
  display: block;
  color: var(--scndHeaderClr);
}

.eduList {
  padding: 3px;
}

.interestContent {
  grid-column: content 1 / content 3;
  color: var(--contentClr);
  transform: translateX(300px);
}

.interestIcon {
  grid-column: content 3;
  font-size: 128px;
  transform: translateY(175px);
  display: block;
  color: var(--scndHeaderClr);
}

