.appHeader {
  background-size: cover;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  margin: -3vh;
}

.scndHeader {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: var(--scndHeaderclr);
  margin-top: 12vh;
}

.wrapper {
  display: grid;
  grid-template-columns: [space] 17% [content] 22% [content] 22% [content] 22% [space] 17%;
  justify-content: space-between;
}

#aside1 {
  grid-column: space 1;
}

#aside2 {
  grid-column: space 2;
}

.content {
  grid-column: content 2 / space 2;
  color: var(--contentClr);
}

.authorImg {
  grid-column: content 1;
  max-width: 60%;
  max-height: 20%;
  display: block;
  margin-left: 25%;
  margin-top: -15%;
  /* Border testing -- Remove */
  border-radius: 20px;
  border: 2px solid black;
}
