.wrapper {
	display: inline-flex;
	flex-flow: column nowrap;
	width: 80%;
	background-color: var(--navbarBkgClr);
	color: var(--scndHeaderClrDark);
	border-radius: 4px;
	text-align: left;
}

.inputLabel {
	font-weight: bold;
	color: var(--scndHeaderClr);
}

.smallInput {
	height: min-content;
}

.largeInput {
	height: 16pc;
}

.smallInput,
.largeInput {
	border-radius: 4px;
	background-color: var(--inputBkgClr);
	border: 2px solid var(--inputBorderClr);
	position: relative;
}

.smallInput::placeholder,
.largeInput::placeholder {
	color: var(--navbarBkgClr);
	opacity: 0.6;
}

.charCount {
	position: absolute;
	right: 80%;
	top: 80%;
}

.button {
	background-color: var(--accentClr);
	border-radius: 12px;
	color: var(--neutralClr);
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	padding: 0.6em;
	opacity: 1;
	order: 5;
	align-self: flex-end;
	border: none;
	margin-left: 90%;
	transform: translateY(-80%);
}

.button:hover,
.button:focus {
	opacity: 0.3;
	border-radius: 14px 8px;
	transition: 0.5s linear;
}

.iconWrapper {
	order: 4;
	display: inline-block;
}

.icon {
	order: 4;
	display: inline-block;
	margin-top: 4%;
}

#resMessage {
	order: 4;
	display: inline;
	text-align: left;
	opacity: 0;
	color: var(--inputBorderClr);
}

#emailIn {
	order: 1;
}

#subjectIn {
	order: 2;
}

#messageIn {
	order: 3;
}

#emailLabel {
	order: 1;
}

#subjectLabel {
	order: 2;
}

#messageLabel {
	order: 3;
}

#successIcon {
	color: green;
	opacity: 0;
}

#failIcon {
	color: red;
	opacity: 0;
}
