.footer {
    width: 100%;
    padding: 5vmin;
    overflow: hidden;
    background-color: var(--navbarBkgClr);
    color: var(--appHeaderClr);
    text-align: center;
    margin-top: 5vh;
    position: relative;
    z-index: 50;
    margin: -2vmin;
}
