.wrapper {
    display: block;
    background: transparent;
    position: relative;
    width: 100vw;
    height: 220vh;
    transform: 0.3s ease;
}

.content {
    z-index: 1;
    background: transparent;
    display: inline;
    position: static;
}

@media screen and (max-width: 1800px) {
    .wrapper {
        height: 144pc;
    }
}

@media screen and (max-width: 1090px) {
    .wrapper {
        height: 300pc;
    }
}