.wrapper {
  background: transparent;
  position: relative;
  transform: 0.3s ease;
  height: 100%;
}

.content {
  z-index: 1;
  background: transparent;
  position: relative;
  margin-top: 40vh;
}

.navbar {
  overflow: hidden;
  background-color: var(--navbarBkgClr);
  width: 105%;
  padding: 8vmin;
  margin-left: -3vmin;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: none;
  outline: none;
  z-index: 99;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  overflow: hidden;
  height: 4ch;
  transition: 0.3s ease;
}

#scrolled {
  position: fixed;
  top: 0;
  left: 0;
}

#scrolledSpace {
  margin-top: calc(40vh + 4ch);
}

#footerSpace {
  margin-top: 20ch;
}

#hiddenHeader {
  top: 0;
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 900px) {
  .navbar {
    height: 10ch;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    height: 12ch;
  }
}

@media screen and (max-width: 300px) {
  .navbar {
    height: 15ch;
  }
}