.nameCon {
  --defaultSize: 75px;
  padding-top: 15vh;
  text-align: center;
  z-index: 10;
  color: var(--appHeaderClr);
  position: relative;
}

.nameFirstCon {
  animation-name: firstAn;
  animation-duration: 4s;
  animation-delay: 0.2s;
  font-size: calc(var(--defaultSize) + 9px + 3vmin);
}

.nameScndCon {
  animation-name: scndAn;
  animation-duration: 3.5s;
  animation-delay: 0.4s;
  font-size: calc(var(--defaultSize) + 3px + 3vmin);
}

.nameThirdCon {
  animation-name: thirdAn;
  animation-duration: 3.7s;
  animation-delay: 0.3s;
  font-size: calc(var(--defaultSize) + 5px + 3vmin);
}

.nameFourthCon {
  animation-name: fourthAn;
  animation-duration: 3.2s;
  animation-delay: 0.2s;
  font-size: calc(var(--defaultSize) + 3vmin);
}

.nameFifthCon {
  animation-name: fifthAn;
  animation-duration: 3.6s;
  animation-delay: 0.5s;
  font-size: calc(var(--defaultSize) + 7px + 3vmin);
}

.nameFirstCon:hover {
  color: #2c598d;
  transition: ease 0.6s;
}

.nameScndCon:hover {
  color: #d383af;
  transition: ease 0.6s;
}

.nameThirdCon:hover {
  color: #9d78d8;
  transition: ease 0.6s;
}

.nameFourthCon:hover {
  color: #eca14f;
  transition: ease 0.6s;
}

.nameFifthCon:hover {
  color: #82a123;
  transition: ease 0.6s;
}

@keyframes firstAn {
  0% {
    font-size: 0;
  }

  100% {
    font-size: calc(var(--defaultSize) + 9px + 3vmin);
  }
}

@keyframes scndAn {
  0% {
    font-size: 0;
  }

  100% {
    font-size: calc(var(--defaultSize) + 3px + 3vmin);
  }
}

@keyframes thirdAn {
  0% {
    font-size: 0;
  }

  100% {
    font-size: calc(var(--defaultSize) + 5px + 3vmin);
  }
}

@keyframes fourthAn {
  0% {
    font-size: 0;
  }

  100% {
    font-size: calc(var(--defaultSize) + 3vmin);
  }
}

@keyframes fifthAn {
  0% {
    font-size: 0;
  }

  100% {
    font-size: calc(var(--defaultSize) + 7px + 3vmin);
  }
}
