.nameCon {
  padding-top: 15vh;
  text-align: center;
  z-index: 10;
  color: var(--appHeaderClr);
  position: relative;
  font-weight: bolder;
}

.nameFirstCon {
  font-size: calc(50px + 3vmin);
}

.nameScndCon {
  font-size: calc(45px + 3vh);
}

.nameThirdCon {
  font-size: calc(47px + 3vh);
}

.nameFourthCon {
  font-size: calc(42px + 3vh);
}

.nameFifthCon {
  font-size: calc(51px + 3vh);
}

.nameFirstCon:hover {
  color: #2c598d;
  transition: ease 0.6s;
}

.nameScndCon:hover {
  color: #d383af;
  transition: ease 0.6s;
}

.nameThirdCon:hover {
  color: #9d78d8;
  transition: ease 0.6s;
}

.nameFourthCon:hover {
  color: #eca14f;
  transition: ease 0.6s;
}

.nameFifthCon:hover {
  color: #82a123;
  transition: ease 0.6s;
}
