.navbarCon {
  align-self: flex-start;
  text-align: center;
  color: var(--appHeaderClr);
  padding: 14px 16px 14px 16px;
  border-radius: 18px 6px;
  gap: 5px;
  font-size: calc(15px + 0.5vmin);
  justify-content: baseline;
  order: 1;
}

.navbarCon:hover,
.navbarCon:active,
.navbarCon:focus {
  background-color: var(--navbarActiveClr);
  opacity: 0.6;
}

.skipToContent {
  position: absolute;
  transform: translateX(-150%);
  transition: transform 0.3s ease-in;
}

.skipToContent:focus {
  transform: translateX(0);
}

.navbarIcon {
  height: min-content;
  align-items: flex-end;
  display: inline;
  justify-content: baseline;
  order: 3;
  margin-left: 60%;
  transition: margin-left 0.3s ease;
}

.iconSizing {
  z-index: 300;
  animation: rotate 1s linear infinite;
  animation-play-state: paused;
}

.themeBtn {
  margin-left: 3vw;
  justify-content: baseline;
  color: var(--appHeaderClr);
  text-align: center;
  font-size: calc(45px + 0.5vmin);
  padding: 5px;
  border-radius: 50%;
  transition: 0.6s ease-in-out;
  order: 2;
  display: inline;
}

.rotate {
  transform: rotate(720deg);
}

.themeBtn:active,
.themeBtn:hover,
.themeBtn:focus-within {
  background-color: var(--navbarActiveClr);
  opacity: 0.6;
}

.themeChg {
  display: inline-flex;
  overflow: hidden;
  transition: max-width 0.8s ease;
  flex-flow: row nowrap;
}

.theme {
  font-size: calc(20px + 0.5vmin);
  color: var(--appHeaderClr);
  padding: 14px 16px 14px 16px;
  text-align: center;
  justify-content: baseline;
  gap: 7px;
  border-radius: 50%;
}

.theme:active,
.theme:hover,
.theme:focus {
  background-color: var(--navbarActiveClr);
  opacity: 0.6;
}

#firstTheme {
  margin-left: 3vw;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1900px) {
  .navbarIcon {
    margin-left: 50%;
  }
}

@media screen and (max-width: 1360px) {
  .navbarIcon {
    margin-left: 40%;
  }
  .themeBtn {
    margin-left: 2vw;
  }
  #firstTheme {
    margin-left: 2vw;
  }
}

@media screen and (max-width: 1289px) {
  .navbarIcon {
    margin-left: 30%;
  }
}

@media screen and (max-width: 900px) {
  .navbarIcon {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .navbarCon {
    font-size: calc(12px + 0.5vmin);
    gap: 2px;
  }
  .themeBtn {
    font-size: calc(28px + 0.5vmin);
    margin-left: 2vw;
  }
  .theme {
    font-size: calc(12px + 0.5vmin);
    gap: 2px;
  }
  .themeBtn {
    margin-left: 1vw;
  }
  #firstTheme {
    margin-left: 1vw;
  }
}

@media screen and (max-width: 425) {
  .themeChg {
    display: flex;
    transition: max-height 1.2s ease;
    transition: max-width 0.1ms linear;
  }
}
