.main {
    margin-top: 400ch;
}

.wrapper {
    display: grid;
    grid-template-columns: [space] 20% [content] 60% [space] 20%;
}

#aside1 {
    grid-column: space 1;
    display: flex;
    justify-content: center;
}

#aside2 {
    grid-column: space 2;
    display: flex;
    justify-content: center;
}

.content {
    grid-column: content;
    color: var(--contentClr);
}

.header {
    color: var(--appHeaderClr);
    font-weight: bold;
    font-size: 5ch;
    text-align: center;
    margin-bottom: 10ch;
}

.scndHeader {
    color: var(--scndHeaderClr);
    font-size: 2.5ch;
    margin-top: 5ch;
}

.link {
    color: var(--scndHeaderClr);
}

.iconContainer {
    display: block;
    text-align: center;
    color: var(--accentClr);
    background-color: #0000001e;
    font-size: 2em;
    font-weight: bolder;
    margin-top: -10ch;
    border-radius: 12px;
    box-shadow: 6px 6px 5px 1px #0000004d;
    width: 20%;
    padding: 5px;
    height: min-content;
    transition: 0.3s ease;
}

.iconContainer:hover, .iconContainer:focus {
    background-color: var(--accentClr);
    color: var(--appHeaderClr);
    border-radius: 18px 6px;
}

.codeLink {
    font-weight: bold;
    font-size: 1.2rem;
}

.richText {
    margin: 5ch;
    padding: 3ch;
}

.sourcesList {
    padding: 2ch;
}

#lastUpdated {
    display: block;
    color: var(--scndHeaderClrLight);
}

#lastUpdated::after {
    content: "(y/m/d)";
    opacity: 0.6;
    padding: 3ch;
}