.container {
  display: grid;
  grid-template-columns: [space] 14% [content] 24% [content] 24% [content] 24% [space] 14%;
  grid-template-rows: repeat(8, 12pc);
  background-color: var(--appBkgClr);
  color: var(--scndHeaderClr);
}

#aside1 {
  grid-column: space 1;
  grid-row: all;
}

#aside2 {
  grid-column: space 2;
  grid-row: all;
}

/* Cards */

#card1 {
  grid-column: content 1;
  grid-row: 2;
  justify-self: center;
}

#card2 {
  grid-column: content 2;
  grid-row: 4;
  justify-self: center;
}

#card3 {
  grid-column: content 3;
  grid-row: 3;
  justify-self: center;
}

#card4 {
  grid-column: content 1;
  grid-row: 5;
  justify-self: center;
}

#card5 {
  grid-column: content 2;
  grid-row: 7;
  justify-self: center;
}

#card6 {
  grid-column: content 3;
  grid-row: 6;
  justify-self: center;
}

@media screen and (max-width: 1800px) {
  .container {
    grid-template-columns: [space] 10% [content] 40% [content] 40% [space] 10%;
    grid-template-rows: repeat(12, 12pc);
  }

  #card1 {
    grid-column: content 1;
    grid-row: 2;
    justify-self: center;
  }

  #card2 {
    grid-column: content 2;
    grid-row: 3;
    justify-self: center;
  }

  #card3 {
    grid-column: content 1;
    grid-row: 5;
    justify-self: center;
  }

  #card4 {
    grid-column: content 2;
    grid-row: 6;
    justify-self: center;
  }

  #card5 {
    grid-column: content 1;
    grid-row: 8;
    justify-self: center;
  }

  #card6 {
    grid-column: content 2;
    grid-row: 9;
    justify-self: center;
  }
}

@media screen and (max-width: 1090px) {
  .container {
    display: grid;
    grid-template-columns: [space] 5% [content] 90% [space] 5%;
    grid-template-rows: repeat(25, 12pc);
  }

  #card1 {
    grid-column: content;
    grid-row: 2;
    justify-self: center;
  }

  #card2 {
    grid-column: content;
    grid-row: 6;
    justify-self: center;
  }

  #card3 {
    grid-column: content;
    grid-row: 10;
    justify-self: center;
  }

  #card4 {
    grid-column: content;
    grid-row: 14;
    justify-self: center;
  }

  #card5 {
    grid-column: content;
    grid-row: 18;
    justify-self: center;
  }

  #card6 {
    grid-column: content;
    grid-row: 22;
    justify-self: center;
  }
}
