.container {
  display: grid;
  grid-template-columns: [space] 15% [content] 70% [space] 15%;
  background-color: var(--appBkgClr);
  color: var(--scndHeaderClr);
}

#aside1 {
  grid-column: space 1;
}

#aside2 {
  grid-column: space 2;
}

.cardContainer {
  grid-column: content;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  gap: 5ch;
}

@media screen and (max-width: 1800px) {
  .container {
    display: grid;
    grid-template-columns: [space] 10% [content] 80% [space] 10%;
  }
}

@media screen and (max-width: 1090px) {
  .container {
    display: grid;
    grid-template-columns: [space] 5% [content] 90% [space] 5%;
  }
}
